<h2>Login</h2>
<!-- <form name="formularelogin"> -->
  <label>email</label>
  <input type="text" [(ngModel)]="valemaillog"/>
  <br>
  <label>Password</label>
  <input type="text" [(ngModel)]="valpwdlog"/>
  <br>
  <input type="button" value='Login' (click)="logUser()"/>
<!-- </form> -->

<br>
