<h2>Register</h2>
<form name="formulare">

  <label>First Name</label>
  <input type="text" #nametxt name="txtName" [ngClass]="{'input-err':nameErr,
  'input-valid': !nameErr}" [(ngModel)]="valname"/>
  <br>
  <label>Last Name</label>
  <input type="text" #lastnametxt name="txtName" [ngClass]="{'input-err':lastnameErr,
  'input-valid': !lastnameErr}" [(ngModel)]="vallastname"/>
  <br>
  <label>email</label>
  <input type="text" #emailtxt name="txtName" [ngClass]="{'input-err':emailErr,
  'input-valid': !emailErr}" [(ngModel)]="valemail"/>
  <br>
  <label>Password</label>
  <input type="text" #pass1txt name="txtName" [ngClass]="{'input-err':pass1Err,
  'input-valid': !pass1Err}" [(ngModel)]="valpass1"/>
  <br>
  <label>Confirm Password</label>
  <input type="text" #pass2txt name="txtName" [ngClass]="{'input-err':pass2Err,
  'input-valid': !pass2Err}" [(ngModel)]="valpass2"/><br>
  <input type="button" value='Register' (click)="verifcolor(nametxt.value,
  lastnametxt.value, emailtxt.value,
   pass1txt.value, pass2txt.value)" (click)="sendDB()" (click)="regUser()"/>
</form><br>
{{ok}}
{{ko}}
